<nav class="nav">
    <NavLink class="nav-item" href="" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink class="nav-item" href="aliases">Aliases</NavLink>
    <NavLink class="nav-item" href="audit">Audit log</NavLink>
</nav>
